---
import MessageBoard from "../components/MessageBoard.svelte";
import I18nKey from "../i18n/i18nKey";
import { i18n } from "../i18n/translation";
import MainGridLayout from "../layouts/MainGridLayout.astro";
---

<MainGridLayout title="留言板" description="欢迎留言">
    <div class="flex w-full rounded-[var(--radius-large)] overflow-hidden relative min-h-32">
        <div class="w-full">
            <MessageBoard client:load />
        </div>
    </div>
</MainGridLayout>
